html {
    font-family: Helvetica;
    font-size: 22px;
    color:seashell;
    background-color: black;
    opacity: 0.9;
}

header {
    width:100%;
    border: 1px solid white;
    justify-content: space-between;
}

.logo {
    width: 10px;
    height: 50px;
    float: left;
}

.logo img{
    margin : 100% 100%;
    height: 50px;
    opacity: .7;
}

nav{
    float: right;
}

nav ul{
    list-style-type: none;
    margin-bottom: 10px;
    margin-top: 20px;
}

nav ul li{
    display: inline-block;
    padding-right: 10px;
    padding-bottom: 10px;
    opacity: .7;
}

nav ul li a{
    color: seashell;
    text-decoration: underline;
}

.flex-container {
    display: flex;
}

.mission {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 95%;
    text-align: center;
    flex-direction: column;
    height: 700px;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
}


#text{
    background-color: black;    
    width: 100%;
    height: 15%; 
}

#text h2{
    margin-top: 18px;
    margin-bottom: 18px;
}

#text h4{
    margin-bottom: 18px;
    margin-top: 18px;
}

.featured-tea {
    margin: 0 auto;
    width: 1000px;
}

.featured-tea img{
    width: 300px;
    height: 200px;
}

.featured-tea .text{
    text-align: center;
}

.flex-cont{
    padding: 10px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
}

.flex-cont img{
    padding-right: 15px;
}

.flex-cont p{
    padding-right: 15px;
}

.locations {
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity:".8";
    margin: 0 auto;
    height: 700px;
    width: 95%;
    padding-top: 40px;
}

.locations{
    text-align: center;
}

.locations #heading {
    margin-bottom: 15px;
}

.flex-content{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 40px;
}

.loc1, .loc2, .loc3{
    background-color: black;
    width: 300px;
    margin-right: 40px;
}

.contact-us{
    border: 1px solid white;
    height: 200px;
    margin-top: 50px;
    text-align: center;
}
.contact-us h5 , p{
    opacity: .7;
}

footer{
    text-align: center;
    border: 1px solid white;
    margin-top: 20px;
}

footer p{
    opacity: .7;
}

@media only screen and (max-width: 1150px){
        #text{
            font-size: 16px;
           }
}

@media only screen and (max-width:550px){
    nav{
        float: none;
        display: flex;
        flex-direction: column;
    }
    nav ul li{
        width: 50%;
    }
    .logo{
        margin-left: 35%;
        margin-right: auto;
    }
    header{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
